.eln-container{
  height: 100%; /* 100% Full-height */
  width: 90%; /* 0 width - change this with JavaScript */
  margin-left: 0px;
  padding-left: 2px;
}
.shadow-textarea textarea.form-control::placeholder { font-weight: 300;  }
.shadow-textarea textarea.form-control {  padding-left: 0.8rem;    } 

/* ::ng-deep .modal-dialog{
  max-width: 1200px !important;
  height: 500px;
  width: 500px;
  padding: 0px;
  overflow-y: auto !important;

}
::ng-deep .modal-wide{
  max-width: 1200px !important;
  width: 900px;
}

::ng-deep .mat-dialog-container {
  overflow-y: auto !important;
} */
/* .modal-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.modal-body {
  overflow-y: auto;
  flex: 1 1 auto;
  max-height: calc(80vh - 100px); /* Adjust based on header and footer height */
/* } */

.modal-header, .modal-footer {
  flex: 0 0 auto;
}


::ng-deep .blank { max-width: 1200px!important; width: 1px; }

.tb { border-collapse: collapse; width:100%; height:100%  }
  .tb th, .tb td { padding: 0px; border: solid 1px #24c90f; }
  .tb th { background-color: lightblue; }