
.example-spacer {
    flex: 1 1 auto;
  }
  .flexExpand {
    flex: 1 1 auto;
}
.mat-toolbar.mat-primary {
  background: rgb(0, 87, 163);
  color: #ffffff;
  position: relative;
  z-index: 5;
}
.icon {
  font-size: 36px;
}
.custom-toolbar {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 5;
  position: relative;
}


:host { 
  .mat-icon {
    margin: 0;
   font-size: 25px;
 }
}