<div class="app-shell">
  <mat-toolbar *ngIf="showToolbar" class="custom-toolbar" [color]="fg"
    [ngStyle]="{ 'background-color': 'white', 'position': 'relative', 'z-index': 5 }"
    style="max-height:36px;font-size:small">
    <img src="assets/logos/baja-logo.svg" alt="Baja Bio" class="baja-brand-logo"
      style="width:26px;height:26px;margin-right:8px;vertical-align:middle;flex:0 0 auto;" />

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button *ngFor="let b of buttons" (click)="b.click()" mat-menu-item>
        <span>{{ b.label }}</span>
      </button>
    </mat-menu>
    {{ message }}
    <span style="flex: 1 1 auto" class="flexExpand"></span>

    <mat-button *ngIf="lg && user != '' && user != 'ljl'" mat-stroked-button type="button" data-bs-toggle="collapse"
      style="padding-top: 0px; padding-bottom: 1px" (click)="logout()">
      Log out ({{ user }})
    </mat-button>

    <mat-button *ngIf="(!lg) && canSignUp" mat-stroked-button type="button" data-bs-toggle="collapse"
      style="padding-top: 0px; padding-bottom: 1px" (click)="signUp()">
      New Account
      <label>&nbsp;<span> | </span>&nbsp;</label>
    </mat-button>

    <mat-button *ngIf="!lg" mat-stroked-button type="button" data-bs-toggle="collapse"
      style="padding-top: 0px; padding-bottom: 1px" (click)="login()">
      Login
    </mat-button>
  </mat-toolbar>

  <div class="app-content">
    <div *ngIf="!showLJW" class="route-host">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>